<div class="section-homepage">
    <div class="group-homepage">
        <h1 class="title-homepage"><div class="sub">VO</div>NGOC DUY</h1>
        <div class="job-homepage">Frontend Developer</div>
        <div class="box-resume-homepage">
            <a href="" download class="btn-homepage">Resume</a>
            <a href="mailto:vndnetwork@gmail.com" class="btn-homepage">Contact</a>
        </div>
    </div>
</div>
<div class="section-footer">
    <div class="group-social">
        <a href="https://github.com/vndnw" target="_blank" class="box-image-social">
            <img class="image-social" src="./images/ic-github.png" alt="" />
        </a>
        <a href="https://facebook.com/vndnw" target="_blank" class="box-image-social">
            <img class="image-social" src="./images/ic-facebook.png" alt="" />
        </a>
        <a href="https://www.linkedin.com/in/vndnw/" target="_blank" class="box-image-social">
            <img class="image-social" src="./images/ic-linkedin.png" alt="" />
        </a>
    </div>
</div>