.section-resumepage {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}

.section-resumepage .group-resumepage {
    flex: 1;
    display: flex;
    margin-left: 6rem;
}

.group-resumepage .item-resumepage {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    opacity: 1;
    transform: translateY(0px);
    transition: all 1s ease-in-out;
}

.group-resumepage .item-resumepage.active {
    opacity: 1;
    transform: translateY(0);
}

.group-resumepage .title-resumepage {
    font-size: 20px;
    font-weight: 600;
    border-bottom: 2px solid #036A93;
    margin-bottom: .5rem;
    width: max-content;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.group-resumepage .box-resumepage {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.box-resumepage .icon-software {
    width: 30px;
    height: auto;
}

.box-resumepage .parent-software {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.box-resumepage .box-technology {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    width: 100px;
}

.box-resumepage .box-software {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    font-size: 15px;
}

.box-resumepage .box-line-technology {
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.box-line-technology .line {
    width: 150px;
    height: 1px;
    background: rgb(104, 104, 104, 1);
}

.box-line-technology .line-react {
    width: 120px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.box-line-technology .line-angular {
    width: 90px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.box-line-technology .line-vue {
    width: 60px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.box-line-technology .box-pointer {
    width: 13px;
    height: 13px;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: .1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-line-technology .box-pointer.react {
    position: absolute;
    top: -8px;
    right: -10px;
}

.box-line-technology .box-pointer.angular {
    position: absolute;
    top: -8px;
    right: 30px;
}

.box-line-technology .box-pointer.vue {
    position: absolute;
    top: -8px;
    right: 60px;
}

.box-pointer .sub-pointer {
    width: 9px;
    height: 9px;
    background: #fff;
    border-radius: 50%;
}

.group-resumepage .border-year {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #036A93;
    border-radius: 50%;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.group-resumepage .txt-sub-job {
    margin-top: .25rem;
    color: #e2e2e2;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.group-resumepage .general-skill {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    letter-spacing: .5px;
    font-size: 15px;
}

.group-resumepage .icon-hobbies {
    width: 15px;
    height: 15px;
}

.group-resumepage .box-icon-hobbies {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: .5rem;
    border: 1px solid #fff;
}

.group-resumepage .parent-icon-hobbies {
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.group-resumepage .parent-hobbies {
    display: flex;
    justify-content: flex-start;
    column-gap: 2rem;
}

@media only screen and (max-width: 1024px) {
    .section-resumepage .group-resumepage {
        margin-left: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .section-resumepage {
        flex-direction: column;
        height: auto;
        padding: 6rem 2rem 4rem;
        row-gap: 2rem;
    }

    .section-resumepage .group-resumepage {
        margin: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .section-resumepage {
        padding: 22rem 2rem 4rem;
        row-gap: 2rem;
        margin-top: 100vh;
    }
}